<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    

<div id="encounterCount">{{ data['encounterCount'] }}</div>
<div id="enemyAddr">{{ data['enemy_addr'] }}</div>
<div id="item">{{ data['item'] }}</div>
<div id="timeSinceLastShiny">{{ data['timeSinceLastShiny'] }}</div>
<div id="species">{{ data['species'] }}</div>
<div id="spespc">{{ data['spespc'] }}</div>
<h1>test</h1>

   

    <script>
        
    </script>
</body>
</html>
