<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base info</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
<!-- Add these lines in the appropriate places within your HTML structure -->
<!--<div id="highestSpeSpc">{{ data['highestSpeSpc'] }}</div>-->
<!--<div id="highestAtkDef">{{ data['highestAtkDef'] }}</div>-->

<div>
    <span>Local Time: </span>
    <span id="localTime"></span>
  </div>
  <div>
    <span>Session Timer: </span>{{ data['SessionStart'] }}
  </div>
<div id="Pencounter">
    <span>Phase Encounters:</span> {{ data['EncounterCount'] }}
</div>   
<div>
    <span>Total Encounters</span>
    <span id="totalEncounters">totalEncounters</span>
</div>


<script>


var totalEncounters = 0;



function updateLocalTime() {
    var now = new Date();
    var hours = now.getHours();
    var minutes = now.getMinutes();
    var seconds = now.getSeconds();

    // Add leading zeros if needed
    hours = (hours < 10) ? '0' + hours : hours;
    minutes = (minutes < 10) ? '0' + minutes : minutes;
    seconds = (seconds < 10) ? '0' + seconds : seconds;

    // Display the local time
    var localTimeElement = document.getElementById('localTime');
    localTimeElement.textContent = hours + ':' + minutes + ':' + seconds; 

    }
    updateLocalTime();
       
    // Refresh the page every 0.5 seconds
    setTimeout(function() {
    location.reload();}, 1000);

</script>

</body>
</html>
