<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GIF Display</title>
  <style>
    /* Add your CSS styles here */
    #container {
      display: flex;
      align-items: center;
    }

    #text-container {
      margin-right: 0px; /* Adjust the margin as needed */
    }

    #imageOutput {
      width: 120px;
      height: 120px;
    }
  </style>
</head>
<body>

  <div id="container">
    <div id="text-container">
      <div id="attack">
        <span>ATK:</span> <span id="attackValue"></span>
      </div>  
      <div id="defense">
        <span>DEF:</span> <span id="defenseValue"></span>
      </div> 
      <div id="special">
        <span>SPE:</span> <span id="specialValue"></span>
      </div>  
      <div id="speed">
        <span>SPD:</span> <span id="speedValue"></span>
      </div>
     
    </div>
    <img id="imageOutput" src="" alt="GIF File Content">
  </div>
  <div id="item">
    <span>ITEM:</span> <span id="itemValue"></span><br>
  </div>
  <div id="steak">
    <span>Streak:</span> <span id="streakvalue"></span>
  </div>

  <script>
    // Function to update data values
    function updateValues() {
  // Fetch updated data from the server
  fetch('/get_badge_values')
    .then(response => response.json())
    .then(data => {
      // Update HTML elements with new data
      document.getElementById('attackValue').innerText = data['Attack'];
      document.getElementById('defenseValue').innerText = data['Defense'];
      document.getElementById('specialValue').innerText = data['Special'];
      document.getElementById('speedValue').innerText = data['Speed'];
      document.getElementById('itemValue').innerText = data['item_name'];
      document.getElementById('streakvalue').innerText = data['Streak']; // Update the key here
      updateImageWithDynamicName(data['Species']); // Use the correct property for species
    })
    .catch(error => console.error('Error updating values:', error));
  }
  
    // Function to update the image source with a dynamically generated GIF file
    function updateImageWithDynamicName(speciesData) {
      var imageOutput = document.getElementById('imageOutput');
  
      // Construct the URL for the GIF file using the species data
      const gifFilePath = `/static/gifs2/${speciesData}.gif`;
      imageOutput.src = gifFilePath;
    }
  
    // Update values every 0.5 seconds
    setInterval(updateValues, 1500);
  
    // Call the function initially to set the initial values
    updateValues();
  </script>
</body>
</html>
