<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GIF Display</title>
  <style>
    /* Add your CSS styles here */
    #container {
      display: flex;
      align-items: center;
    }

    #text-container {
      margin-right: 0px; /* Adjust the margin as needed */
    }

    #imageOutput {
      width: 90px;
      height: 90px;
    }
  </style>
</head>
<body>

  <div id="container">
    <div id="text-container">
      <div id="attack">
        <span>ATK:</span> <span id="attackValue">{{ data['Attack'] }}</span>
      </div>  
      <div id="defense">
        <span>DEF:</span> <span id="defenseValue">{{ data['Defense'] }}</span>
      </div> 
      <div id="special">
        <span>SPE:</span> <span id="specialValue">{{ data['Special'] }}</span>
      </div>  
      <div id="speed">
        <span>SPD:</span> <span id="speedValue">{{ data['Speed'] }}</span>
      </div>
    </div>

    <!-- Set the width and height attributes as per your requirements -->
    <img id="imageOutput" src="gifFilePath" alt="GIF File Content">
  </div>

  <script>
    // Function to update data values
    function updateValues() {
      // Fetch updated data from the server
      fetch('/update_data')
        .then(response => response.json())
        .then(data => {
          // Update HTML elements with new data
          document.getElementById('attackValue').innerText = data['Attack'];
          document.getElementById('defenseValue').innerText = data['Defense'];
          document.getElementById('specialValue').innerText = data['Special'];
          document.getElementById('speedValue').innerText = data['Speed'];
  
          // Call the function to update the image
          updateImageWithDynamicName(data['species']); // Pass the new species data
        })
        .catch(error => console.error('Error updating values:', error));
    }
  
    // Function to update the image source with a dynamically generated GIF file
    function updateImageWithDynamicName(speciesData) {
      var imageOutput = document.getElementById('imageOutput');
  
      // Construct the URL for the GIF file using the species data
      const gifFilePath = `/static/gifs/${speciesData}.gif`; // Adjust the path as needed
      imageOutput.src = gifFilePath;
    }
  
    // Update values every 0.5 seconds
    setInterval(updateValues, 500);
  
    // Call the function initially to set the initial values
    updateValues();
  </script>
</body>
</html>
